<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BerteDeco</title>
    <!-- Bootstrap CSS and CSS Style-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles_admin_header.css" />
    <link rel="stylesheet" href="/css/styles_admin_product.css" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- Bootstrap icons Fontawesome icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/img/icon.jpg" />
</head>
<body>
    <!-- Header and Navbar-->
    <%- include('../partials/admin_header') %>

    <!-- Discounts -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-md-1">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Descuentos</h4>
                    <div class="mt-2"><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addDisc">Agregar Descuento</button></div>
                </div>
                <% for (let discount of discounts) { %>
                    <div class="col-md-12"><label class="labels">Nombre</label><input type="text" class="form-control" value="<%=discount.name%>" readonly></div>
                    <div class="col-md-12"><label class="labels">Descripción</label><input type="text" class="form-control" value="<%=discount.desc%>" readonly></div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Porcentaje</label><input type="text" class="form-control" value="<%=discount.percent%>" readonly></div>
                        <div class="col-md-6">
                            <label>Descuento activo</label>
                            <select class="custom-select d-block w-100" style="height: 2.3rem;" disabled>
                                <% for( let index = 0; index <= 1; index++ ) { %>
                                  <option value="<%= index %>" <%= index == discount.active ? 'selected' : null %>>
                                    <%= index == 0 ? 'No' : 'Si' %>
                                  </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="mt-3"><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#editDisc<%=discount.id%>">Editar</button></div>
                    <hr class="mb-4">
                    <!-- Edit Discount -->
                    <div id="editDisc<%=discount.id%>" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="/products/discounts/edit/<%=discount.id%>?_method=PUT" method="POST">
                                    <div class="modal-header">						
                                        <h4 class="modal-title">Edita <%=discount.name%></h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">					
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" name="name" class="form-control" value="<%=discount.name%>" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <input type="text" name="desc" class="form-control" value="<%=discount.desc%>" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Porcentaje</label>
                                            <input type="text" name="percent" class="form-control" value="<%=discount.percent%>" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Descuento activo</label>
                                            <select class="custom-select d-block w-100" name="active" required>
                                                <% for( let index = 0; index <= 1; index++ ) { %>
                                                <option value="<%= index %>" <%= index == discount.active ? 'selected' : null %>>
                                                    <%= index == 0 ? 'No' : 'Si' %>
                                                </option>
                                                <% } %>
                                            </select>
                                        </div>				
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <form action="/products/discounts/delete/<%=discount.id%>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %> 
            </div>
        </div>
    </div>    

    <!-- Add Discount -->
    <div id="addDisc" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/products/discounts/create/<%=newId%>" method="POST">
                    <div class="modal-header">						
                        <h4 class="modal-title">Agregar Descuento</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <input type="text" name="desc" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Porcentaje</label>
                            <input type="text" name="percent" pattern="[0-9]+" title="Solo ingrese numeros" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Activo</label>
                            <select class="custom-select d-block w-100" name="active" required>
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>				
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer></footer>

    <!-- JavaScript: Bootstrap 5 Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap 4 JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
</body>
</html>
