<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BerteDeco</title>
    <!-- Bootstrap CSS and CSS Style-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles_admin_header.css" />
    <link rel="stylesheet" href="/css/styles_admin_product.css" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- Bootstrap icons Fontawesome icons-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/img/icon.jpg" />
</head>
<body>
    <!-- Header and Navbar-->
    <%- include('../partials/admin_header') %>

    <!--Search Bar-->
    <div class="container-fluid px-md-12">
      <div class="row justify-content-between">
        <div class="search-div col-md-12 d-md-flex">
          <form method="get" action="/products/edit/" class="searchform order-lg-last">
            <div class="form-group d-flex">
              <input type="search" name="id" class="form-control pl-3" placeholder="Id del Producto">
              <button type="submit" class="form-control search"><span>Buscar y Editar</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <% if (producto === null) { %>
      <div class="user-fail">No se encuentra el producto: <strong><%=busqueda%></strong> Por favor introduzca un ID válido.</div>
    <% } %>

    <!--Form-->
    <% if (producto !== null) { %>
      <div class="container">
        <div class="row">
          <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Editar Producto</h4>
            <form class="needs-validation" method="POST" action="/products/edit/<%=producto.id%>" enctype="multipart/form-data" novalidate>
              
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="prodId">Identificador</label>
                  <input type="text" class="form-control" id="prodId" name="id" value="<%=producto.id%>" required readonly>
                  <div class="invalid-feedback">
                    Se require un id de producto.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="prodName">Nombre</label>
                  <input type="text" class="form-control" id="prodName" name="name" value="<%=producto.name%>" required>
                  <div class="invalid-feedback">
                    Se requiere al menos 5 carácteres.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="price">Precio</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" id="price" name="price" pattern="[0-9]+" title="Solo ingrese numeros" value="<%=producto.price%>" required>
                    <div class="invalid-feedback">
                      Este campo solo debe contener números.
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="stock">Cantidad en Stock</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">#</span>
                    </div>
                    <input type="text" class="form-control" id="stock" name="stock" pattern="[0-9]+" title="Solo ingrese numeros" value="<%=producto.stock%>" required>
                    <div class="invalid-feedback">
                      Este campo solo debe contener números
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="discount_id">Descuento (Opcional)</label>
                  <select class="custom-select d-block w-100" id="discount_id" name="discount_id">
                    <% for (const discount of discounts) { %>
                      <option value="<%= discount.id %>" <%= discount.name == producto.discount.name ? 'selected' : null %>>
                        <%= discount.name %> <%= discount.percent %>%
                      </option>
                    <% } %>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="active">Producto listo para vender</label>
                  <select class="custom-select d-block w-100" id="active" name="active" required>
                    <% for( let index = 0; index <= 1; index++ ) { %>
                      <option value="<%= index %>" <%= index == producto.active ? 'selected' : null %>>
                        <%= index == 0 ? 'No' : 'Si' %>
                      </option>
                    <% } %>
                  </select>
                  <div class="invalid-feedback">
                    Se requiere saber si el producto esta listo.
                  </div>
                </div>
              </div>
  
              <div class="mb-3">
                <label for="prod_desc">Descripción</label>
                <textarea rows="2" class="form-control" id="prod_desc" name="prod_desc" required><%=producto.prod_desc%></textarea>
                <div class="invalid-feedback">
                  Se requiere al menos 20 carácteres.
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="category">Categoria</label>
                  <select class="custom-select d-block w-100" id="category" name="category" required>
                    <option value="">Categorias</option>
                    <% let categorias = ['Bancos', 'Espejos', 'Accesorios', 'Mesas y Escritorios', 'Percheros y Repisas'] %>
                    <% for (const categoria of categorias) { %>
                      <option value="<%= categoria %>" <%= categoria == producto.category ? 'selected' : null %>>
                        <%= categoria %>
                      </option>
                    <% } %>
                  </select>
                  <div class="invalid-feedback">
                    Se requiere una categoria.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="delivery">Tiempo de entrega minimo</label>
                  <select class="custom-select d-block w-100" id="delivery" name="delivery" required>
                    <option value="">Días</option>
                    <% let dias = ['1', '2', '3', '4', '5','6','7'] %>
                    <% for (const dia of dias) { %>
                      <option value="<%= dia %>" <%= dia == producto.delivery ? 'selected' : null %>>
                        <%= dia %> <%= dia == 1 ? 'Día' : 'Días' %> 
                      </option>
                    <% } %>
                  </select>
                  <div class="invalid-feedback">
                    Se requiere un tiempo de entrega.
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <h4 class="mb-3">Seleccione las imágenes que desea borrar</h4>
              
              <div class="row delete-images">
              <% for( let index = 0; index < producto.images.length; index++ ) { %>
                  <div class="col-md-3">
                    <div class="custom-control custom-checkbox image-checkbox">
                      <input type="checkbox" id="check<%=index%>" class="custom-control-input" name="delete-image-<%=index%>" value="<%=producto.images[index].id%>"> 
                      <label class="custom-control-label" for="check<%=index%>">
                        <img src="/img/productos/<%=producto.images[index].name%>" class="img-fluid" alt="<%=producto.images[index].name%>"/> 
                      </label>
                    </div>
                  </div>
              <% } %>
              </div>
              <hr class="mb-4">
              
              <h4 class="mb-3">Cargar Imagenes</h4>
              
              <div class="row">
                <div class="input-group mb-3">
                  <input type="file" class="form-control" name="images" id="inputFile" multiple>
                  <label class="input-group-text" for="inputFile">Imagenes</label>
                </div>
              </div>
              <% if (noguardado.length > 0) { %>
                <hr class="mb-4">
                <div class="not-saved">
                  No se guardaron los siguientes archivos:
                  <% for (let archivo of noguardado) { %>
                    <p><%= archivo %></p>
                  <% } %>
                  Solo se aceptan archivos .jpg .jpeg .png de 500kb o menos.
                </div>
              <% } %>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Editar Producto</button>  
            
            </form>
            
            <hr class="mb-4">
            
            <form action="/products/delete/<%=producto.id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-lg btn-block" type="submit">Eliminar Producto</button>  
            </form>
          </div>
        </div>
      </div>
    <% } %>

    <footer></footer>

    <!-- JavaScript: Bootstrap 5 Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap 4 JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/js/validProduct.js"></script>
            
</body>
</html>
